.container-fluid a:hover{
    text-decoration: underline 2px #C92071;
    color: #C92071;
  }

  .logo-header {
    margin-left: 20px
  }

  #busca:focus{
    box-shadow: 5px 5px  #C92071;
    border-color: #C92071;
  }

  #cad {
    margin-right: 15px;
    margin-top: 7px;
    color:#474747 
  }

  #mini-cart{
    margin-right: 35px
  }

  .menu {
    margin-left: 45px
  }

  .carousel-inner {
    border-radius: 40px
  }

.footer-site{
    background-color: #1f1f1f;
    color: white;

}

.coluna{
    margin-right: 200px;
}

.col{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
}


.titulo-footer{
    font-size: 18px;
}
.icones-footer{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
hr{
    margin: 0 80px;
}
.copy-footer{
    text-align: center;
    padding: 20px;

}

#busca {
    width: 700px;
}

.botoes-header button {
    border:none;
    background-color:#C92071;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 114px;
    height: 40px;

}

@media (max-width: 770px) {
    #busca {
       width: 20%;
    }

    .logo-header {
        width: 15%;
    }

    .campo-busca{
        width: 20%;
    }

    .botoes-header{
        width: 5%;
    }

    #cad {
        margin-right: 15px;
        margin-top: 7px;
        color:#474747"
    }

}