body, html {
  overflow-x: hidden;
}

.product-details-container {
  display: flex;
  margin: 4.5rem 6.25rem;
  gap: 5.75rem;
}

.productName {
  width: 400px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
