@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.containerCadastro{
    // background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
}
.formulario{
    display: flex;
    flex-direction: column;
    font-family: Osvald;
    font-weight: 900;
    background-color:#C92071 ;
    color: #fff;
    
    padding: 60px;
    border-radius: 10px;
    width: min-content;
    
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}
.titleForm{
    font-size: 1.8rem;
    margin-bottom: 10%;
    font-family: 'Osvald';
    font-weight: 400;
}

.input{
    min-width: 280px;
    border-radius: 10px;
    border: 2px #C92071 solid ;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input:hover{
    
    border-color: #fff;
  }

.btnForm{
    margin-top: 10%;
    width: 100%;
    text-align: center ;
    
}
.botao{
    font-family: Osvald;
    font-weight: 900;
    background: #fff;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    color: #C92071;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-left: -5px;
}

.botao:hover{
    background: rgb(153, 147, 147);
    color: #fff;
}

@keyframes iniciar{


    0%{
        top: -20%;
        opacity:10%;
        pointer-events:none;

    }
    50%{
        opacity: 70%;
        pointer-events: all;
    }
    100%{
        top: 50%;
        opacity: 100%;
        pointer-events: all;

    }
}